cache:
  config:
    entryTtl: 60
    pdfList:
      entryTtl: 30

logging:
  pattern:
    console: '%clr(%d{yyyy-MM-dd HH:mm:ss}){faint} %clr(%-5level) %clr([%X{traceId}]){yellow} %clr(%logger{36}){cyan} - %msg%n'

management:
  endpoints:
    web:
      exposure:
        include: health, metrics, prometheus, circuitbreakers, circuitbreakerevents
  endpoint:
    health:
      show-details: always
  metrics:
    export:
      enabled: true
    tags:
      application: ${spring.application.name}

encryption:
  pepper: ${ENCRYPTION_PEPPER}

feign:
  client:
    analysis-service:
      url: ${ANALYSIS_SERVICE_URL}/api/v1/analysis
      updateAnalyzeInvoiceId: /reports/invoice/update
    parameter-service:
      url: ${PARAMETER_SERVICE_URL}/api/v1
      getByCode: /error-codes/error-code
      logError: /log/error
      getAllErrorCodes: /error-codes/error-code/all
    transaction-service:
      url: ${TRANSACTION_SERVICE_URL}/api/v1
      updateTransactionInvoiceStatus: /transaction/update-invoice-status

spring:
  datasource:
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    url: ${DATABASE_URL}
  jpa:
    hibernate:
      ddl-auto: update
  kafka:
    producer:
      bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
      group-id: invoice-processor-group
      auto-offset-reset: earliest
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
  cache:
    type: redis
  application:
    name: invoice-service
  main:
    banner-mode: off
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      timeout: 5000
      password: ${REDIS_PASSWORD}

server:
  port: 8050
