cache:
  config:
    entryTtl: 60
    pdfList:
      entryTtl: 30

encryption:
  pepper: "YOUR-PEPPER-HERE"

spring:
  datasource:
    username: springstudent
    password: springstudent
    url: jdbc:mysql://localhost:3306/invoice_service
  jpa:
    hibernate:
      ddl-auto: update
  kafka:
    producer:
      bootstrap-servers: localhost:9092
      group-id: invoice-processor-group
      auto-offset-reset: earliest
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      bootstrap-servers: localhost:9092
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
  cache:
    type: redis
  application:
    name: invoiceservice
  main:
    banner-mode: off
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 5000
      password: #YOUR-PASSWORD-HERE

server:
  port: 8050
