cache:
  config:
    entryTtl: 60
    pdfList:
      entryTtl: 30

logging:
  pattern:
    console: '%clr(%d{yyyy-MM-dd HH:mm:ss}){faint} %clr(%-5level) %clr([%X{traceId}]){yellow} %clr(%logger{36}){cyan} - %msg%n'

encryption:
  pepper: ${ENCRYPTION_PEPPER}

feign:
  client:
    analysis-service:
      url: ${ANALYSIS_SERVICE_URL:http://localhost:8082/api/v1}
      updateAnalyzeInvoiceId: ${ANALYSIS_SERVICE_ANALYZE_TRANSACTION_ENDPOINT:/analyze/transaction}
    parameter-service:
      url: ${PARAMETER_SERVICE_URL:http://localhost:8086/api/v1}
      getByCode: ${PARAMETER_SERVICE_GET_BY_CODE_ENDPOINT:/error-codes/error-code}
      logError: ${PARAMETER_SERVICE_LOG_ERROR_ENDPOINT:/log/error}
      getAllErrorCodes: ${PARAMETER_SERVICE_GET_ALL_ERROR_CODES_ENDPOINT:/error-codes/error-code/all}
    transaction-service:
      url: ${TRANSACTION_SERVICE_URL:http://localhost:8083/api/v1}
      updateTransactionInvoiceStatus: ${TRANSACTION_SERVICE_UPDATE_INVOICE_STATUS_ENDPOINT:/transaction/update-invoice-status}

spring:
  datasource:
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    url: ${DATABASE_URL}
  jpa:
    hibernate:
      ddl-auto: update
  kafka:
    producer:
      bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
      group-id: invoice-processor-group
      auto-offset-reset: earliest
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
  cache:
    type: redis
  application:
    name: invoice-service
  main:
    banner-mode: off
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      timeout: 5000
      password: ${REDIS_PASSWORD}

server:
  port: 8050
